@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
margin: 0;
padding: 0;
background-size: cover;
background-repeat: no-repeat;
}

/*--GRIDS--------------------------------------------------------------------------------- */
.body__inicio{
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas: 
        "header header header"
        ". main__inicio ."
        "footer footer footer"
    ;
    background-image: url(./../sources/images/bulones.jpg);
}
.body__prod{
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 8.9vw;
    grid-template-rows: 10vh 5vh repeat(6,173px) 5vh;
    grid-template-areas: 
        "header header header header"
        "caja caja caja caja"
        ". prod1 . ."
        ". . prod2 ."
        ". prod3 . ."
        ". . prod4 ."
        ". prod5 . ."
        ". . prod6 ."
        "footer footer footer footer"
    ;
    background-image: url(./../sources/images/electrodos.jpg);
}
.body__serv{
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 10vh 5vh repeat(2, 40vh) 5vh;
    grid-template-areas: 
        "header header header header"
        "caja caja caja caja"
        ". serv1 serv2 ."
        ". serv3 serv4 ."
        "footer footer footer footer"
    ;
    background-image: url(./../sources/images/soldador2.jpg);
}
.body__prom{
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 10vh 5vh repeat(2, 40vh) 5vh;
    grid-template-areas: 
    "header header header header"
    "caja caja caja caja"
    ". prom1 prom2 ."
    ". prom3 prom4 ."
    "footer footer footer footer"
    ;
    background-image: url(./../sources/images/manijas.jpg);
}
.body__cont{
    display: grid;
    grid-template-columns: 20vw repeat(2, 30vw) 20vw;
    grid-template-rows: 10vh 5vh repeat(2, 40vh) 5vh;
    grid-template-areas: 
    "header header header header"
    "caja caja caja caja"
    ". contacto contacto ."
    ". email mapa ."
    "footer footer footer footer"
    ;
    background-image: url(./../sources/images/cartel.jpg);
}
.body__nosotros{
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 10vh 5vh 30vh 50vh 5vh;
    grid-template-areas:
    "header header header"
    "caja caja caja"
    ". . ."
    ". nosotros ."
    "footer footer footer"
    ;
    background-image: url(./../sources/images/nosotros.jpg);
}

/*--HEADER---------------------------------------------------------------------------------*/
header{
    grid-area: header;
    background-color:#E96B42;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 10px 10px;
    position: sticky;
    top: 0px;
    z-index: 20;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
nav ul li{
    display: inline;
    margin-right: 11px;
}
nav ul li a{
    color:#5B5353;
    font-family: Inconsolata;
    font-weight: 600;
    font-size: 2.5vh;
    line-height: 21px;
    text-decoration: none;
}
.caja{
    grid-area: caja;
    background-color:#E96B42;
    opacity: 70%;
    border-radius: 0px 0px 10px 10px;
    position: sticky;
    top: 0px; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.caja--titulo{
    font-family: Inconsolata;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    position: sticky;
    top: 0px;
    left: 10px;
}

/*---INICIO-----------------------------------*/
.main__inicio{
    grid-area: main__inicio;
    margin: auto;
}
.main__inicio__logo{
    grid-area: main__inicio__logo;
    max-width: 400px;
    max-height: 400px;
    width: 50vw;
    height: 50vh;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #96D2D3;
    filter: drop-shadow(0px 25px 4px rgba(0, 0, 0, 0.4)); 
    display: block;
    margin:auto;
}

/*---PRODUCTOS--------------------------------*/
.prod__1{
    grid-area: prod1;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 163px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform 1s;
}
.prod__1:hover{
    transform: scale(1.05,1.05);
    border: solid #96D2D3;
    border-width: 5px;
    background-color: #BBBB;
}
.prod__2{
    grid-area: prod2;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 163px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform 1s;
}
.prod__2:hover{
    transform: scale(1.05,1.05);
    border: solid #96D2D3;
    border-width: 5px;
    background-color: #BBBB;
}
.prod__3{
    grid-area: prod3;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 163px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform 1s;
}
.prod__3:hover{
    transform: scale(1.05,1.05);
    border: solid #96D2D3;
    border-width: 5px;
    background-color: #BBBB;
}
.prod__4{
    grid-area: prod4;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 163px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform 1s;
}
.prod__4:hover{
    transform: scale(1.05,1.05);
    border: solid #96D2D3;
    border-width: 5px;
    background-color: #BBBB;
}
.prod__5{
    grid-area: prod5;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 163px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform 1s;
}
.prod__5:hover{
    transform: scale(1.05,1.05);
    border: solid #96D2D3;
    border-width: 5px;
    background-color: #BBBB;
}
.prod__6{
    grid-area: prod6;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 163px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: transform 1s;
}
.prod__6:hover{
    transform: scale(1.05,1.05);
    border: solid #96D2D3;
    border-width: 5px;
    background-color: #BBBB;
}
.producto--img{
    border-radius: 10px;
    max-width: 255px; 
    max-height: 163px;
}
.producto--texto{
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
}

/*---SERVICIOS--------------------------------*/
.serv__1{
    grid-area: serv1;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
}
.serv__2{
    grid-area: serv2;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
}
.serv__3{
    grid-area: serv3;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
}
.serv__4{
    grid-area: serv4;
    background-color: #DFDBDB;
    margin: 5px;
    border-radius: 10px;
    max-width: 560px;
    max-height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
}
.serv--img{
    border-radius: 10px;
    max-width: 280px; 
    max-height: 250px;
}
.serv--texto{
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
}

/*---PROMOCIONESySERVICIOS--------------------*/
.prom__1{
    grid-area: prom1;
    display: flex;
    justify-content: center;
}
.prom__2{
    grid-area: prom2;
    display: flex;
    justify-content: center;
}
.prom__3{
    grid-area: prom3;
    display: flex;
    justify-content: center;
}
.prom__4{
    grid-area: prom4;
    display: flex;
    justify-content: center;
}    
.prom--img{    
    max-width: 350px;
    max-height: 265px;
    border-radius: 10px;
    margin-top: 2vh;
}

/*---CONTACTO---------------------------------*/
.main__contacto{
    grid-area: contacto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen__direccion{
    max-width: 800px; 
    max-height: 270px;
    border-radius: 10px;
}
.main__email{
    grid-area: email;
    display: block;
    justify-content: center;
    align-items: center;

}
.main__email__contenedor{
    font-family: Inconsolata;
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    margin: 10px 5px;
    width: 25vw;
}
.main__email__consulta{
    font-family: Inconsolata;
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    margin: 0px 5px 3px 5px; 
    width: 25vw;
}
.boton__enviar{
    margin: 5px;
}
.main__mapa{
    grid-area: mapa;
    border-radius: 10px;
    width: 25vw;
    height: 35vh;
    display: flex;
    justify-self: center;
    align-self: center;
}

/*---NOSOTROS---------------------------------*/
.main__nosotros__contenedor--texto{
    grid-area: nosotros;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 80vh;
    height: 40vh;
    opacity: 85%;
    display: flex;
    justify-items: center;
    text-align: center;
    font-family: Inconsolata;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    margin: auto; 

}
/*---FOOTER-----------------------------------*/
footer{
    grid-area: footer;
    background-color:#E96B42;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -10px 4px rgba(0, 0, 0, 0.4);
    position: sticky;
    font-family: Inconsolata;
    font-weight: 600;
    font-size: 2vh;
    line-height: 21px;
    z-index: 41;
}
.redes{
    position: absolute;
    bottom: 1px;
    left: 10px;
}
.redes__numero{
    position: relative;
    bottom: 4px;
}